
/* clean */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body  */
body{
    font-family: "Poppins", sans-serif;
    background: #f4f7fb;
    color: #333;
    line-height: 1.7;
}

/* Header */
header{
    background: linear-gradient(135deg,#2563eb,#1e40af);
    color: white;
    text-align: center;
    padding: 20px 60px;
}
header h1{
    font-size: 2rem;
    letter-spacing: 2px;
}
header h4{
    margin-top: 10px;
    font-weight: 400;
    color: #dbeafe;
}
/* Main */
main{
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

/* Profile Image */
main img{
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 35px;
    border: 6px solid white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}